.container {
    display: flex;
    gap: 30px;
  }
  
  .pic {
    width: 350px;
    height: 430px;
  }
  
  .detail {
    font-size: 18px;
  }
  
  .cart {
    background-color: #e3c01c;
  }
  
  .categories {
    position: relative;
    overflow: hidden;
  }